</br></br></br>
<div align="center">
	<img src="images/preussen.jpg" height="65%" width="90%">
</div>

<div class="panel panel-primary">
  <div class="panel-heading">History in Brief</div>
	  <div class="panel-body" id="briefHistory"> Prussia originated out of the Duchy of Prussia and the Margraviate of Brandenburg, and centred on the region of Prussia. For centuries, the House of Hohenzollern ruled Prussia, successfully expanding its size by way of an unusually well-organised and effective army. 
	  </br></br> 
		The name Prussia derives from the Old Prussians, effectively the tribes of the Baltic States, who were eventually conquered by the Teutonic Knights back in the 13th century. The Knights settled the land we now know as Poland with migrants from more Germanized regions of central Europe, and eventually established the Kingdom of Prussia, which covered a huge swathe of territory right across from the Dutch border to what is now Lithuania, including pretty much all of what we now consider northern and eastern Germany.
		</br></br>
		While the regions further south were riven with religious dispute and busy with the cultivation of vines, this largely flat and protestant north turned out to be excellent at wheat production, and the land-owning dynasties developed sophisticated trade links and transport to the North Sea ports.
		</br></br>
		Their wealth was considerable and their leadership was strong, primarily under Frederick the Great in the 18th century, who established Berlin and nearby Potsdam as his power base. He was followed by Chancellor Otto von Bismarck in the 19th century, and it was the latter who was the driving force in uniting all the various German principalities into the state we know as Germany today.
		</br></br></br>
		Sources Cited: Wikipedia, www.germanyiswunderbar.com
	  </div>
	</div>
</div> 


 
<div class="panel panel-primary">
  <div class="panel-heading">Notable Prussians</div>
  <div class="panel-body" id="notables">
  	<div>
  		<img src="images/bismarck.jpg" class="profile"><strong>Otto von Bismarck</strong>
	  	</br> </br>
	  	Otto Eduard Leopold, Prince of Bismarck, Duke of Lauenburg (1 April 1815 – 30 July 1898), known as Otto von Bismarck, was a conservative Prussian statesman who dominated German and European affairs from the 1860s until 1890 and was the first Chancellor of the German Empire between 1871 and 1890.</br></br>
	  	In 1862, King Wilhelm I appointed Bismarck as Minister President of Prussia, a position he would hold until 1890. He provoked three short, decisive wars against Denmark, Austria, and France. Following the win against Austria, he abolished the supranational German Confederation and instead formed the North German Confederation as the first German national state in 1867, leading it as Federal Chancellor. This aligned the smaller North German states behind Prussia. Later receiving the support of the independent South German states in the Confederation's defeat of France, he formed the German Empire in 1871, unifying Germany with himself as Imperial Chancellor, while retaining control of Prussia at the same time. 
	  	</br></br>
			With that accomplished by 1871, he skillfully used balance of power diplomacy to maintain Germany's position in a Europe which, despite many disputes and war scares, remained at peace. For historian Eric Hobsbawm, it was Bismarck who "remained undisputed world champion at the game of multilateral diplomatic chess for almost twenty years after 1871, [and] devoted himself exclusively, and successfully, to maintaining peace between the powers". However, his annexation of Alsace-Lorraine gave new fuel to French nationalism and promoted Germanophobia in France. This helped set the stage for the First World War.
			</br></br>
			Bismarck's diplomacy of realpolitik and powerful rule at home gained him the nickname the "Iron Chancellor". German unification and its rapid economic growth was the foundation to his foreign policy. He disliked colonialism but reluctantly built an overseas empire when it was demanded by both elite and mass opinion. Juggling a very complex interlocking series of conferences, negotiations and alliances, he used his diplomatic skills to maintain Germany's position and used the balance of power to keep Europe at peace in the 1870s and 1880s.
  	</div>
  	</br></br></br></br>
  	
  	<div>
  		<img src="images/friedrich.jpg" class="profile"><strong>Frederick the Great</strong>
	  	</br></br>
	  	Frederick II (German: Friedrich; 24 January 1712 – 17 August 1786) was King of Prussia from 1740 until 1786, the longest reign of any Hohenzollern king. His most significant accomplishments during his reign included his military victories, his reorganization of Prussian armies, his patronage of the arts and the Enlightenment in Prussia, and his final success against great odds in the Seven Years' War. Frederick was the last titled King in Prussia and declared himself King of Prussia after achieving full sovereignty for all historical Prussian lands. Prussia had greatly increased its territories and became a leading military power in Europe under his rule. He became known as Frederick the Great (Friedrich der Große) and was affectionately nicknamed Der Alte Fritz ("Old Fritz") by the Prussian and later by all German people.
	  	</br></br>
	  	In his youth, Frederick was more interested in music and philosophy than the art of war. Nonetheless, upon ascending to the Prussian throne, he attacked Austria and claimed Silesia during the Silesian Wars, winning military acclaim for himself and Prussia. Toward the end of his reign, Frederick physically connected most of his realm by acquiring Polish territories in the First Partition of Poland. He was an influential military theorist whose analysis emerged from his extensive personal battlefield experience and covered issues of strategy, tactics, mobility and logistics.
 	 		</br></br>
			Considering himself "the first servant of the state", Frederick was a proponent of enlightened absolutism. He modernized the Prussian bureaucracy and civil service and pursued religious policies throughout his realm that ranged from tolerance to segregation. He reformed the judicial system and made it possible for men not of noble stock to become judges and senior bureaucrats. Frederick also encouraged immigrants of various nationalities and faiths to come to Prussia. Some critics, however, point out his oppressive measures against conquered Polish subjects during the First Partition. Frederick supported arts and philosophers he favored, as well as allowing complete freedom of the press and literature.[10] Frederick is buried at his favorite residence, Sanssouci in Potsdam. Because he died childless, Frederick was succeeded by his nephew, Frederick William II, son of his brother, Augustus William.
		</div>
		</br></br>
  	<span>Sources cited: Wikipedia</span>

  </div>
</div>

 
<div class="panel panel-primary">
  <div class="panel-heading">Further Reading</div>
  <div class="panel-body">
  	<ul>
  		<li><a href="https://en.wikipedia.org/wiki/Prussia">Wikipedia entry</a>
  		</li>
  		<li><a href="https://www.britannica.com/place/Prussia">Britannica entry</a>
  		</li>
  	</ul>
  </div>
</div>