
<h1>Come visit Prussia!</h1>
</br></br>
<h3 align="center">Romantic palaces, gothic marketsquares, and beautiful landscapes</h3>
</br></br></br>

<div class="row">
	<div class="col-md-3">
		<a href="https://www.lonelyplanet.com/germany/berlin/attractions/schloss-charlottenburg/a/poi-sig/1119921/359343" class="thumbnail">
			<img src="images/thumbnails/charlottenburg.jpeg" alt="Charlottenburg">
		</a>
	</div>

	<div class="col-md-3">
		<a href="https://en.wikipedia.org/wiki/Wroc%C5%82aw_Town_Hall" class="thumbnail">
			<img src="images/thumbnails/oldtownhall.jpeg" alt="Old Town Hall">
		</a>
	</div>

	<div class="col-md-3">
		<a href="https://en.wikipedia.org/wiki/Wolin_National_Park" class="thumbnail">
			<img src="images/thumbnails/wolin.jpeg" alt="Wolin National Park">
		</a>
	</div>

	<div class="col-md-3">
		<a href="https://www.lonelyplanet.com/poland/gdansk/attractions/dlugi-targ/a/poi-sig/1423019/360314" class="thumbnail">
			<img src="images/thumbnails/dlugi_targ.jpeg" alt="Dlugi Targ">
		</a>
	</div>
</div>

<div align="center">
	<a href="/sightseeing">See the top attractions</a>
</div>
</br>


<div class="mainRow">
	<a href="/history">
		<img src="images/flag.png" alt="Prussian flag" class="sightThumbnail">
	</a>
	<p class="sightBlurb"> The state of Prussia had its origins in the separate lands of the Margraviate of Brandenburg and of the Duchy of Prussia. Shortly after becoming a kingdom, Prussia entered the ranks of the great powers and was influencial under the leadership of Frederick the Great and, later, Chancellor Otto von Bismarck. 
	</br></br>
	<a href="/history">Read more about Prussia's history</a>
	</p>
</div>
</br></br></br></br>


<div class="mainRow" id="weatherRow">
	<a href="/weather">
		<img src="images/thumbnails/weatherIcon.jpeg" alt="Weather page" class="sightThumbnail">
	</a>
	<p class="sightBlurb">{{tempTag}}
	</p>
	</br>
	<a href="/weather">See the full weather report on Prussia's top cities
	</a>
</div>














