
<!-- fill in sightseeing descriptions dynamically -->
<script src="js/sightsBuilder.js"></script> 


<!-- add download button at bottom of page -->
</br></br>
<p align="center">
	<a href="Prussia_Sights.pdf" download>
		<button>Download as pdf</button>
	</a>
</p>
</br></br></br>